@font-face {
  font-family: "Cormorant Infant";
  src: url("CormorantInfant-Regular.woff2") format("woff2"),
    url("CormorantInfant-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Infant";
  src: url("CormorantInfant-SemiBold.woff2") format("woff2"),
    url("CormorantInfant-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}




