@import "./Roboto/Roboto.scss";
@import "./Cormorant-Infant/CormorantInfant.scss";

// Mixin
  @mixin Roboto-Light {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
}

@mixin Roboto-Italic {
  font-family: "Roboto";
  font-weight: normal;
  font-style: italic;
}

@mixin Roboto-Medium {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
}

@mixin Roboto-Regular {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
}

@mixin CormorantInfant-Regular {
  font-family: "Cormorant Infant";
  font-weight: normal;
  font-style: normal;
}

@mixin CormorantInfant-SemiBold {
  font-family: "Cormorant Infant";
  font-weight: 600;
  font-style: normal;
}
