@import "../stylesheets/animations.scss";

.Administrator {
  @include bounce-in-left;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
