.Home {
  height: 100vh;
  overflow-y: hidden;
  text-align: center;
  overflow: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}
