@import "../fonts/fonts.scss";
@import "../stylesheets/svgBackgrounds.scss";
@import "../stylesheets/animations.scss";

// Mixin
@mixin bg-radius-shadow {
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
}


@mixin respond($breakpoint) {
  @if $breakpoint == mobile-portrait {
    @media (max-width: 320px) {
      @content;
    }
  }
  @if $breakpoint == mobile-landscape {
    @media (max-width: 480px) {
      @content;
    }
  }
  @if $breakpoint == tablet-portrait {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tablet-landscape {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 990px) {
      @content;
    }
  }
}

.FormStatement {
  @include bg-radius-shadow;
  @include SVGRosePetals;
  @include bounce-in-left;
  display: flex;
  flex-direction: column;
  margin: 20vh auto;
  max-width: 800px;
  min-width: 300px;
  overflow: hidden;
  width: 60vw;
  min-height: 500px;
  overflow-y: hidden;

   // Responsive
    @include respond(mobile-portrait) {
      height: 60%;
    }
     @include respond(mobile-landscape) {
      width: 80%;
  }
  

  .input-text {
    @include Roboto-Medium;
    font-size: 1.4rem;
    color: #24221c;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;

    // Responsive
    @include respond(mobile-portrait) {
     font-size: 1.25rem;
    }

  }
  .form-control {
    @include Roboto-Light;
    font-size: 1rem;
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;

      // Responsive
    @include respond(mobile-portrait) {
     font-size: .9rem;
    }
  }

  button {
    @include Roboto-Medium;
    display: flex;
    width: 240px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    transform: translateY(-50%);
    box-shadow: 0 10px 20px -5px #81939c49;
    overflow: hidden;

    // Responsive
    @include respond(mobile-portrait) {
     width: 12rem;
     padding: 2rem;
    }
  }

  button:before,
  button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  button:before {
    transform: scale(1);
    background-image: url("../images/smiles.png");
    background-size: cover;
    transition: 0.3s ease transform;
    z-index: 1;
    
  }

  button:after {
    background-color: #000;
    opacity: 0.16;
    z-index: 2;
  }

  button div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
  }

  button div:before,
  button div:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    padding: 25px 0;
    transition: 0.3s ease all;

      // Responsive
    @include respond(mobile-portrait) {
    font-size: 1.75rem;
    padding: 1.2rem;
    }
  }

  button div:before {
    content: "ЧЕКНИ";
    letter-spacing: 0;
    opacity: 1;
    transform: scale(1);
  }

  button div:after {
    content: "ИНФУ";
    letter-spacing: -10px;
    transform: scale(0);
    opacity: 0;
  }

  button:hover:before {
    transform: scale(1.3);

    // Responsive
    @include respond(mobile-portrait) {
     transform: none;
    }
  }

  button:hover div:before {
    letter-spacing: 3px;
    opacity: 0;
    transform: scale(4);
  }

  button:hover div:after {
    letter-spacing: 0;
    opacity: 1;
    transform: scale(1);
  }

  .result {
    @include Roboto-Regular;
    font-size: 1.25rem;
    padding: 0;
    margin-bottom: 1.75rem;

      // Responsive
    @include respond(mobile-portrait) {
     font-size: 1rem;
    }
  }
}
