.HistoryList {
  margin: 5rem 10rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    display: flex;
    justify-content: center;
    width: 25rem;
    height: 15rem;
    min-width: 200px;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
    background: #ffefba; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #ffefba
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #ffefba
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .card-header {
      background-color: #f1d5d9;
      border-radius: 10px 10px 0 0;
    }

    .card-body {
      //some style of card body
      .card-title {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        .percent-icon {
          font-size: 1.5rem;
        }
        .percent-text {
          font-size: 1.5rem;
          margin-left: .5rem;
        }
      }
      .card-text {
        margin-top: 2rem;
        flex-direction: column;

        .question-icon {
          font-size: 1.25rem;
        }
        .question-text {
          font-size: 1.25rem;
          margin-top: .5rem;
        }
      }
    }
  }
}
