@import "../fonts/fonts.scss";

// Variables

// Mixin

@mixin bg-radius-shadow {
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
}

.SingUpForm {
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  width: 30rem;
  padding: 1rem;

  .form-label {
    @include Roboto-Italic;
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  .form-control {
    @include Roboto-Light;
    font-size: 1.25rem;
    border-radius: 10px;
  }

  .invalid-feedback {
    @include Roboto-Regular;
    font-size: 1rem;
    margin-left: 2rem;
  }

  .btn {
    @include Roboto-Medium;
    letter-spacing: 0.1rem;
    padding: 0.5rem;
    width: 12rem;
    border-radius: 5px;
  }
}
