@import "../../fonts/fonts";

.Progressbar {
  max-width: 200px;
  min-width: 150px;
  width: 35%;
  height: auto;
  margin: 0rem auto;

  .CircularProgressbar {
    margin-bottom: 1.5rem;
    .CircularProgressbar-text {
      @include Roboto-Medium;
      font-size: 2.25rem;
      text-anchor: middle;
      dominant-baseline: middle;
    }
  }
}
